.formulário{
  width: 73%;
  height: 62%;
  position: relative;
  display: flex;
  border: 5px solid rgb(220, 175, 244);
border-radius: 20px;
margin: 0 0 0 12%;
box-shadow:8px 15px 20px;
}
.form{
  margin-left: 8em;
}
.form li ,label{
  padding: 5px 5px;
  text-decoration: none;
  list-style: none;
  font-size: 20px;
  font-style: italic;
  color: #cf0767;
}
.form input, select{
    border: 3px solid rgb(220, 175, 244);
  border-radius: 20px;
  height: 30px;
  font-size: 15px;
  color: blue;
  outline: none;
}

#nome, #endereço, #comentário{
  width: 510px;
  outline: none;
}
#telefone, #complemento, #bairro, #cidade{
  width: 210px;
}
#upload{
  margin-left: 149px;
}
#comentário{
  border: 3px solid rgb(220, 175, 244);
  border-radius: 20px;
  text-align:center;
  width: 550px;
  height: 300px;
  font-size: 15px;
  color: blue;
  margin-left: 50px;
}
#enviar{
  position: relative;
  margin: 0 0 0 53%;
  width: 100px;
  cursor: pointer;
  font-weight:bolder;
}
#enviar:hover{
  background-color: #cf0767;
  color: #ffffff;
  transition: all .6s ease-out;
}
.caixa-de-login{
  margin:20px;
  width: 30em;
  text-align: center;
  left: 26em;
  padding: 16px;
  position: relative;
  border: 5px  solid rgb(220, 175, 244);
  border-radius: 10px;
  box-shadow: 8px 15px 20px;
}
#usuário, #senha{
  width: 25em;
  height: 3em;
  border: 5px  solid rgb(220, 175, 244);
  border-radius: 10px;
  outline: none;
}
#entrar{
  position: relative;
  height: 36px;
  margin-top: 10px;
  width: 100px;
  cursor: pointer;
  font-weight:bolder;
  border: 5px  solid rgb(220, 175, 244);
  border-radius: 10px;
  color: blue;
}
#entrar:hover{
  background-color: #cf0767;
  color: #ffffff;
  transition: all .6s ease-out;
}
